body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
