:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --first-text-color: #ffffff;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
}
